<nav id="nav" class="container nav">
    <a href="<%= root_path %>" > 
        <img class="logo" src="<%= asset_path('logo.svg') %>" alt=""/>
    </a>
    <img class="icon-hamburger only-mobile" src="<%= asset_path('icon-hamburger.svg') %>" alt=""/>
    <div id="menu-list" class="menu-list only-desktop">
        <!-- <%= link_to '' %> --> 
        <a href="#description">About</a>
        <a href="#creations">Our Creations</a>
        <a class="menu-list--contact" href="<%= contact_path %>">Contact</a>
    </div>
</nav>

