<%= render partial: 'shared/homepage-hero' %> 
<div class="container">
    <%= render partial: 'sections/description-page' %> 
    <%= render partial: 'sections/our-creations' %>
    <%= render partial: 'sections/contact' %>
</div>
<%= render partial: 'shared/footer' %>